*{
  margin: 0;
  font-family: 'Josefin Slab', serif;
}

#conteiner{
  width: 100vw;
  color: black;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-image: url(./erro.gif);
}

header{
  width: 100vw;
  background-color: #7f4f24;
  height: 5vh;
}

footer{
  width: 100vw;
  background-color: #7f4f24;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: black;
}

h1{
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

#texto{
  width: 40vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h2{
  background-color: #7f4e2468;
  width: 80vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  margin-left: 1rem;
}

button{
  background-color: #4e5169;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 10vh;
  color: black;
  font-size: xx-large;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2rem;
}

button:hover{
  background-color: #121218;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 15vh;
  color: #7f4f24;
  font-size: 2.5rem;
  transition:  0.5s;
  border-radius: 10px;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}

@media(max-width: 1000px) {

  h1{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }

  #texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 80vh;
    padding:0;
    opacity: 0,5;
    color: black;
    font-size: 2.5rem;
  }

 button{
  background-color: #4e5169;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 10vh;
  color: black;
  font-size: xx-large;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2rem;
  }

  header, footer{
    display: none;
  }

  #conteiner{
    height: 100vh;
    width: 100vw;
    background-size:auto;
    background-position: center; 
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media(max-width: 600px) {

  h1{
    font-size: 30px;
  }

  #texto{
    font-size: 20px;
  }

  button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #4e5169;
    font-size: 2rem;
    width: 30vw;
    height: 20vh;
  }
}